h2 {
  text-align: center;
}

#content {
  background-color: #f4decb;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
}

.titlebox {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #94618e;
  padding: 25px;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.headerimage {
  max-width: 100%;
}

ul {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

footer {
  background-color: #94618e;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}