@media (min-width: 48em) {
	header {
		background-color: #80ced6;
		border-radius: 10px;
		justify-content: space-between;
	}
	
	nav {
		order: inherit;
	}

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.navigation li:nth-child(2) {
		border-radius: 10px;
	}

	.mainContent {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 1em;
	}

	.event {
		grid-column: 1/2;
		grid-row: 1/2;
		height: 200px;
		width: 200px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.event img {
		height: 100%;
		width: 100%;
		border-radius: 10px;
		image-rendering: pixelated;
	  }

	.weather {
		grid-column: 1/2;
		grid-row: 2/3;
		height: 200px;
		width: 200px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.weatherAll {
		text-align: center;
		align-items: center;
	  }
	  
	  .weatherInfo {
		border-bottom: solid;
	  }
	  
	  .weatherInfo h3 {
		margin: 0;
		padding: 5px;
	  }
	  
	  .weatherInfo img {
		float: left;
	  }

	.join {
		grid-column: 1/2;
		grid-row:3/4;
		height: 200px;
		width: 200px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.hero {
		grid-column: 2/5;
		grid-row: 1/3;
		height: 420px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.hero img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		image-rendering: pixelated;
	}

	.newsRelease {
		grid-column: 2/5;
		grid-row: 3/4;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.sideBar {
		grid-column: 5/6;
		grid-row: 1/4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.spotLight1 {
		height: 200px;
		width: 175px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.spotLight2 {
		height: 200px;
		width: 175px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.spotLight3 {
		display:block;
		height: 200px;
		width: 175px;
		border: solid;
		border-radius: 10px;
		background-color: #eee;
	}

	.chamberInfo {
		display: flex;
		justify-content: space-between;
		padding: 15px;
	}
	
	.chamberAddress {
		display: flex;
	}
	
	.chamberMap {
		display: flex;
	}
	
	.chamberContact {
		display: flex;
	}

	.discoverMainContent {
		display: grid;
		grid-template-columns: 70% 30%;
	}
	  
	.discoverColumnOne {
		grid-column: 1/2;
		align-items: center;
		max-width: 100%;
	}

	.discoverColumnOne img:hover {
		box-shadow: 0 0 50px #333;
	}

	.discoverColumnTwo {
		grid-column: 2/3;
	}

	/*---------------Join Form Styling-----------------*/

	.joinFormContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
	}
}