@media (min-width: 37.5em) {
  .chamberInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
  }

  .hero {
    grid-column: 1/4;
    grid-row: 1/2;
    height: 200px;
    border: solid;
    border-radius: 10px;
    background-color: #eee;
  }

  .newsRelease {
    grid-column: 1/4;
    grid-row: 2/3;
    height: 200px;
    border: solid;
    border-radius: 10px;
    background-color: #eee;
  }

  .sideBar {
    grid-column: 1/4;
    grid-row: 3/4;
    border: solid;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #eee;
  }

  .spotlight1 {
    float: left;
  }

  .spotlight2 {
    float: right;
  }

  .join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
    height: 200px;
    border: solid;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
  }

  .event {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 200px;
    border: solid;
    border-radius: 10px;
    background-color: #eee;
  }

  .weather {
    grid-column: 3/4;
    grid-row: 5/6;
    height: 200px;
    border: solid;
    border-radius: 10px;
    background-color: #eee;
  }
  .chamberAddress {
    display: flex;
  }

  .chamberMap {
    display: flex;
  }

  .chamberContact {
    display: flex;
  }
  /*-----------Directory Style--------------*/

}

