/* Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&display=swap");

/*-----------------content size setting-------------*/

#stickit,
main, 
.footer {
  max-width: 85em;
  margin: auto;
}

/*-----------------Font Assignment------------------*/
h1,
h2,
h3 {
  font-family: "Amatic SC";
}

p,
label,
legend,
ol,
li,
option,
select, 
input,
a,
textarea {
  font-family: "Cinzel";
}

ol {
  font-weight: bold;
}

li {
  font-weight: lighter;
  list-style-type: none;
}

/*----------------Header Styling--------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #e4f0d0;
}

.header {
  align-items: center;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

/*-----------------Site Navigation------------------*/

nav {
  padding: 10px;
  order: 3;
}

.navigation {
  list-style: none;
  background-color: #c2d8b9;
  border-radius: 10px;
  padding: 0;
}

.navigation li:first-child {
  display: block;
  border-radius: 10px;
}

.navigation li:last-child {
  border-radius: 10px;
}

.navigation li {
  display: none;
  background-color: #c2d8b9;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
}

.navigation a.ham::before {
  content: "☰";
}

.navigation a:hover {
  color: white;
  background-color: #738290;
  border-radius: 10px;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
    <ul class="navigation responsive">
  */
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "X";
  text-align: center;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/*----------------home main content styling----------*/

.homecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*----------------Temple Slide Show-----------*/

/* Slideshow container */
.slideshow-container {
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  padding: 5px;
  border-radius: 10px;
  max-width: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*----------------Availability Form-----------*/
.availability {
  padding: 5px;
  background-color: #a1b5d8;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  border: solid #738290;
  border-radius: 10px;
  margin:5px;
}

.availability :nth-child(2),
.availability :nth-child(4),
.availability :nth-child(6),
.availability :nth-child(8) {
  padding: 5px;
  border-radius: 10px;
}

/*----------------lower home content---------*/

.information {
  border: solid #738290;
  border-radius: 10px;
}

.templeinfo {
  border: solid #738290;
  border-radius: 10px;
  margin:5px;
}

/*----------------temple styling-----------------*/

.temple-select {
  padding: 5px;
}

.temple-select :hover {
  background-color: #a1b5d8;
}

.select_like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-button {
  height: 35px;
  width: 125px;
  border-radius: 10px;
}

.like :hover {
  border-color: #0a5ff1;
}

#temple {
  padding: 5px;
  border-radius: 10px;
}

.cards {
  background-color: #a1b5d8;
  border-radius: 10px;
}

.cards section {
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid #738290;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.cards section > p {
  padding: 5px;
}

.cards img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/*----------------forecast styling--------------*/

.current-weather {
  grid-column: 1/2;
  border: solid #738290;
  border-radius: 10px;
  margin: 5px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: solid #738290;
  border-radius: 10px;
}

.forecast section {
  margin: 0.5rem;
    padding: 0.5rem;
    background-color:  #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }

/*----------------reservation form----------------*/

.reservation-form label {
  display: block;
  padding: 5px;
}

.reservation-form form iframe {
  height: 400px;
  width: 400px;
  border: solid black;
  border-radius: 10px;
}

.reservation-form textarea {
  width: 100%;
}

.reservation-form fieldset {
  border-radius: 10px;
  margin: 10px;
}

.reservation-form #reservationsubmit {
  margin: 10px;
  border-radius: 10px;
  height: 35px;
}

.reservation-form #reservationsubmit :hover {
  background-color: #a1b5d8;
}

/*----------------Services Styling-------------*/

.services-list li {
  list-style-type: circle;
  padding: 5px;
}

.services-list {
  border: solid #738290;
  border-radius: 10px;
  margin: 10px;
}

.services-slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-slides img {
  width: 100%;
  margin: 0;
}

.services-slides ul {
  list-style: none;
  background-color: #c2d8b9;
  border-radius: 10px;
  padding: 0;
}

.services-slides li:first-child {
  display: block;
  border-radius: 10px;
}

.services-slides li:last-child {
  border-radius: 10px;
}

.services-slides li {
  float: left;
  display: block;
  background-color: #c2d8b9;
}
.services-slides a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
}

.services-slides a:hover {
  color: white;
  background-color: #738290;
  border-radius: 10px;
}

.services-slides ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/*-----------------Contact Styling------------*/

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.submit {
  margin: 5px;
}


/*----------------Footer Styling--------------*/
footer {
  background-color: #e4f0d0;
  text-align: center;
}

.footer {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.footerlogogroup {
  grid-row: 2/3;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.contactform {
  grid-row: 1/2;
  padding: 1em;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid black;
  border-radius: 10px;
}

.contactform :nth-child(1),
.contactform :nth-child(3),
.contactform :nth-child(5) {
  grid-column: 1/2;
  padding: 2px;
}

.contactform :nth-child(2),
.contactform :nth-child(4),
.contactform :nth-child(6) {
  grid-column: 2/3;
  margin-bottom: 5px;
}

.contactform :nth-child(7) {
  margin-left: 5px;
  border-radius: 5px;
}

.maplocation {
  grid-row: 3/4;
}
